/* 
    Document   : admin
    Created on : Jul 20, 2012, 9:32:16 AM
    Author     : tom
    Description:
        Various admin styles not covered by Twitter Bootstrap.
*/

.no-thumbnail {
	background: #ccc;
	width: 240px;
	height: 160px;
	display: block;
	color: #fff;
	padding: 10px;
}

div.pagination-condensed {
	margin: 0px;
}
div.pagination-condensed ul li a {
	line-height: 26px;
	padding: 0 10px;
}

.input-span3 {
	width: 192px;
}

div.error {
	color: #b94a48;
}